/*header*/
body{
	margin: 0px;
}
header{
	background-color: #4C4238;
	height:110px;
}
div#logo{
	float: left;
	padding-top: 2px;
	padding-left: 10px;
}
nav{
	font-family: 'PT Sans Narrow', sans-serif;
}
nav ul{
	position: relative;
	float: right;
	padding-top: 25px;
	padding-right:10px;
}
nav li{
	display: inline;}
a{
	color: #FFFFFF;
	text-decoration: none;
	letter-spacing: 3px;
	margin: 10px;
}
nav li a:hover {
	text-decoration: underline;
 }

/*body*/
body{
	background-color: #383838;
}
h1{
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 56px;
	text-align: center;
	position: relative;
	color:#998138;
}
p{
	font-family: 'PT Sans Narrow', sans-serif;
	color: #B00000 ;
	font-size: 24px;
	float:center;
	padding-left: 20%;
	letter-spacing: 1px;
	margin-right: 10%;
	text-align:center;
	padding-top: 50px;
}
#map-canvas {
	float: left;
    width: 550px;
    height: 400px;
    background-color: #CCC;
    margin-left: 10%;
      }