/*header*/
body{
	background-color: #383838;
	margin: 0px;
}
header{
	background-color: #4C4238;
	height:110px;
}
div#logo{
	float: left;
	padding-top: 2px;
	padding-left: 10px;
}
nav{
	font-family: 'PT Sans Narrow', sans-serif;
}
nav ul{
	position: relative;
	float: right;
	padding-top: 25px;
	padding-right:10px;
}
nav li{
	display: inline;}
a{
	color: #FFFFFF;
	text-decoration: none;
	letter-spacing: 3px;
	margin: 10px;
}
nav li a:hover {
	text-decoration: underline;
 }
/*the is the meat of the stuff*/
th#start{
	font-size: 70px;
	color:#998138;
	font-family: 'PT Sans Narrow', sans-serif;
	position: relative;
	left: 120%;
	padding-top: 10%;
}
th#appetizer{
	font-size: 48px;
	color: #B00000;
	font-family: 'PT Sans Narrow', sans-serif;
	position: relative;
	left:120%;
	border-bottom: 2px solid black;
}
td#food{
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 36px;
	position: relative;
	left: 80%;
	border-right: 1px solid black;
}
td#price{
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 36px;
	position: relative;
	left: 140%;
}
